.form-group {
  display: flex;
  padding: 5px 3px 5px 3px;
  input {
    padding: 20px;
  }
}

.todolist {
  padding: 5px;
  input {
    background-color: #e8e8e8;
    border-radius: 5px;
    padding: 10px;
    border:none;
  }

  input:hover {
    background-color: #c1c1c1;
  }
}

.login-form {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 350px;
  margin-top: 20vh;
}

.login-card {
  min-height: 600px;
  padding-right: 15px;
  padding-left: 15px;
}

.App{
  min-height: 100vh;
}

.single-task{
  display:flex;
  margin-bottom: 10px;
  input{
    width:95%;
  }
}

.close{
  margin-left: 10px
}